.player-info-container {
    display: flex;
    justify-content: center;
}

.player-info {
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
    color: #f25f4c;
}

/* Overwrite default color of Pie Chart .svg text */
tspan{
    fill: #f25f4c;
}