.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 30px
}

.search-wrapper {
    display: flex;
    align-items: center;
}

.search-input {
    font-size: 16px;
    border-radius: 20px;
    background-color: #fffffe;
}

.search-button {
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.message {
    color: #02ec72;
    font-weight: bold;
    margin-top: 10px;
}

.loading-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;  /* or any height you prefer */
}